<html>

<head>
    <title>Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/my_script.js') }}">
            // $(document).ready(function(){
            //     $("").___();
            // });
    </script>
</head>

<body>
    <div class="wrapper">
        <h1>Submitted Info</h1>
        <div class = "info">
            <p>Name:</p>
            <p>Dojo Location:</p>
            <p>Favorite Language:</p>
            <p>Comment:</p>
        </div>
        <div class = "info">
            <p>{{session['name']}}</p>
            <p>{{session['location']}}</p>
            <p>{{session['lang']}}</p>
            <p>{{session['comment']}}</p>
        </div>
    </div>
</body>

</html>